<p id="notice"><%= notice %></p>

<div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12"  align="center">

  <h1><%= "#{t('messages.listing')} #{@phones.model_name.human(count: 2)}" %></h1>

  <table class="table">
    <thead>
      <tr class="active">
        <th><%= @phones.model.human_attribute_name("phone") %></th>
        <th><%= @phones.model.human_attribute_name("contact") %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @phones.each do |phone| %>
        <tr style="background: <%= cycle('#fff', '#f2f2f2') %>">
          <td><%= phone.phone %></td>
          <td><%= phone.contact %></td>
          <td><%= link_to t('buttons.show'), phone, class: "btn btn-info" %></td>
          <td><%= link_to t('buttons.edit'), edit_phone_path(phone), class: "btn btn-warning" %></td>
          <td><%= link_to t('buttons.destroy'), phone, method: :delete, data: { confirm: t('messages.confirm') }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to t('buttons.new'), new_phone_path, class: "btn btn-primary" %>
</div>