<h1>Agenda Telefônica</h1>

<%= titulo %> <!-- helper home -->
<%= soma 2 %> <!-- helper para toda aplicação -->
<ul>
    <li><%= link_to "Endereços", addresses_path %></li>
    <li><%= link_to "Contatos", contacts_path %></li>
    <li><%= link_to "Tipos", kinds_path %></li>
    <li><%= link_to "Telefones", phones_path %></li>
</ul>
