<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div class="alert alert-danger" role="alert"> <!-- Muda os estilo para o padrão bootstrap -->
      <h4><%= "#{pluralize(@contact.errors.count, 'error')} #{t('messages.errors')}:" %> </h4>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :kind_id %><br>
    <%= collection_select(:contact, :kind_id, @kind_options_for_select, :id, :description) %>
  </div>

  <%= f.fields_for :address do |address_fields| %> <!-- 'f.' chama o formulário de address -->
    <div class="field">
      <%= address_fields.label :street %><br>
      <%= address_fields.text_field :street, class: "form-control" %>
    </div>

    <div class="field">
      <%= address_fields.label :city %><br>
      <%= address_fields.text_field :city, class: "form-control" %>
    </div>
    
    <div class="field">
      <%= address_fields.label :state %><br>
      <%= address_fields.select :state, options_for_states(@contact.address.state), class: "form-control" %>
    </div>
  <% end %>

  <div id="phones"> <!-- id com o nome da associação -->
    
    <%= f.fields_for :phones do |phones_fields| %> <!-- 'f.' chama o formulário de phone -->
      <%= render partial: 'phone_fields', locals: {f: phones_fields} %> <!-- 'locals: {f: phones_fields}' força a mudança de 'phones_fields' para 'f' dentro da partial '_phone_fields'-->
    <% end %>

    <%= link_to_add_association('[Adicionar Novo Telefone]', f, :phones) %> <!-- link que adiciona telefone -->

  </div>

  <div class="field">
    <%= f.label :rmk %><br>
    <%= f.text_area :rmk, class: "form-control", rows: 4 %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", class: "button, btn btn-primary" %>
  </div>
<% end %>
