<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :kind_id %><br>
    <%= collection_select(:contact, :kind_id, @kind_options_for_select, :id, :description) %>
  </div>

  <%= f.fields_for :address do |address_fields| %> <!-- 'f.' chama o formulário de address -->
    Street: <%= address_fields.text_field :street %>
    City: <%= address_fields.text_field :city %>
    State: <%= address_fields.text_field :state %>
  <% end %>

  <div class="field">
    <%= f.label :rmk %><br>
    <%= f.text_area :rmk, class: "form-control", rows: 4 %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", class: "button, btn btn-primary" %>
  </div>
<% end %>
