<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('messages.name') %>:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong><%= t('messages.email') %>:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong><%= t('messages.kind') %>:</strong>
  <%= @contact.kind.description %>
</p>

<p>
  <strong><%= t('messages.rmk') %>:</strong>
  <%= @contact.rmk %>
</p>

<%= link_to t('buttons.edit'), edit_contact_path(@contact), class: "btn btn-warning" %> |
<%= link_to t('buttons.back'), contacts_path, class: "btn btn-default" %>
